/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
body {
	padding: 0;
	border: none;
	margin: 0;
	font-family: "Quicksand", sans-serif;
	color: $text-color;
}

* {
	box-sizing: border-box;
}
